{{- if and .Site.Params.showNewsletter .Site.Params.newsletterUsername }}
<section class="newsletter-section">
  <div class="newsletter-container">
    <div class="newsletter-content">
      <h3 class="newsletter-heading">Stay Updated</h3>
      <p class="newsletter-description">{{ .Site.Params.newsletterDescription | default "Get notified about new posts." }}</p>
    </div>
    <form class="newsletter-form" action="https://buttondown.com/api/emails/embed-subscribe/{{ .Site.Params.newsletterUsername }}" method="POST" target="_blank">
      <input 
        type="email" 
        name="email" 
        placeholder="your@email.com" 
        class="newsletter-input"
        required
        aria-label="Email address"
      >
      <input type="hidden" name="embed" value="1">
      <button type="submit" class="newsletter-button">Subscribe</button>
    </form>
  </div>
</section>
{{- end }}

